$default-color: #ffffff;
$primary-color: #2FB7B2;

$primary-fontcolor: #000000;
$secondary-fontcolor: #ffffff;

$secondary-linkcolor: #fbff00;

$max-width: 1200px;
$primary-width: 60%;


:root { --primary-width: #{$primary-width}; }

@media (width <= 1200px) {
    :root { --primary-width: 80%; }
}